* {
    box-sizing: border-box;
}

/* elements */

body {
    padding: 0;
    margin: 0;
}




header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
    color: transparent;
    text-transform: uppercase;

    margin: 1em 0;
    background: linear-gradient(to bottom right, rgb(78, 7, 78), rgb(255, 4, 46)) no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
}

sup {
    font-size: 2rem;
}




/* app wapper */

#form-wrapper {
    min-height: 100vh;
    max-height: 130vh !important;
    padding: 0;
    margin: 0;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.95rem;
    background: linear-gradient(to bottom right, rgb(78, 7, 78), rgb(255, 4, 46)) no-repeat;

    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

}

#form-wrapper::before {
    content: '';
    width: 30%;
    height: 40%;
    clip-path: polygon(0 0, 100% 25%, 0 100%);

    position: absolute;
    left: 0;
    top: 5%;
    background: rgba(255, 255, 255, 0.11);
}

#tip-container {
    background: #fff;
    padding: 10%;
    min-width: 70%;
    max-width: 90%;
    border-radius: 15px;
    color: rgba(0, 0, 0, 0.801);

    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 20px);
}


#calculator > .form-group {
    margin: 1em 0;
}


#calculator > .form-group input[type="number"] {
    display: block;
    width: 100%;
    margin-top: 0.5em;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.34);
}


/* tip button */
.btn-bar {
    margin: 2em 0;
    display: flex;
    justify-content: center;
}

#btn-tip,
#btn-to-calculator {
    display: inline-block;
    width: 100%;
    border: none;

    border-radius: 15px;
    font-size: 0.85rem;
    font-weight: 550;
    color: #fff;
    padding: 10px 30px;
    letter-spacing: 0.3rem;

    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(to bottom right, rgb(78, 7, 78), rgb(255, 4, 46)) no-repeat;
}

#btn-tip:hover,
#btn-to-calculator:hover {
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.274);
    background: linear-gradient(to bottom right, rgb(65, 4, 65), rgb(223, 3, 40)) no-repeat;
}


/* result screen styles */
.result-wrapper {
    font-size: 3rem;
    font-weight: normal;
    text-align: center;
}

#btn-to-calculator {
    font-size: 0.55rem;
}


@media only screen and (min-width: 460px){

    #form-wrapper {
        /* bottom: -10vh; */
    }

    #tip-container {
        padding: 2em 4em;
    }

    #calculator > .form-group input[type="number"] {
        display: inline;
        text-align: center;
    }

    div.form-group {
        display: flex;
        align-items: center;
    }

    main div.form-group label,
    main div.form-group input {
        flex: 1;
        margin: 10px 15px;
    }

    #form-group-service {
        display: block;
    }

    #btn-to-calculator {
        font-size: 0.65rem;
    }
}




@media only screen and (min-width: 576px) {

    #tip-container {
        max-width: 400px;
        min-width: 400px;
    }
}

